*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// This defines what 1rem is
	font-size: 62.5%;

	@include responsive(tabPort) {
		font-size: 56.25%;
	}

	@include responsive(tabPort) {
		font-size: 50%;
	}

	@include responsive(xlDesktop) {
		font-size: 75%;
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	@include responsive(tabPort) {
		padding: 0;
	}
}
