.feature-box {
	background-color: $color-white;
	font-size: 1.5rem;
	padding: 2.5rem;
	text-align: center;
	border-radius: 3px;
	border: 0.7rem solid rgba($color-brown, 0.702);
	box-shadow: 0 1.5rem 2rem rgba($color-black, 0.25);
	transition: transition 0.3s;

	&__icon {
		font-size: 6rem;
		margin-bottom: 0.5rem;
		display: inline-block;
		background-image: linear-gradient(
			to right,
			$color-primary-light,
			$color-primary-dark
		);
		-webkit-background-clip: text;
		color: transparent;
		text-shadow: 0.1rem 0.1rem 0.5rem rgba($color-grey-dark, 0.9);
	}

	&:hover {
		transform: translateY(-1.5rem) scale(1.03);
		box-shadow: 0 0.7rem 2rem rgba($color-black, 0.65);
	}
}
